<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zx.module_supervise">

    <application android:theme="@style/MainAppTheme"
                 android:networkSecurityConfig="@xml/network_security_config">

        <meta-data
            android:name="com.zx.module_supervise.api.ApiConfigModule"
            android:value="ConfigModule"/>
    </application>
</manifest>