<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zx.marketnew_base">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name="com.zx.module_library.app.MyApplication"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/MainAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="label">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.zx.marketnew_base.api.ApiConfigModule"
            android:value="ConfigModule"/>

        <activity
            android:name=".system.ui.SplashActivity"
            android:theme="@style/TransTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.MainActivity"/>
        <!-- <activity android:name=".system.ui.SplashActivity"/> -->
        <activity android:name=".system.ui.LoginActivity"/>
        <activity android:name=".system.ui.ForgetPwdActivity"/>
        <activity android:name=".system.ui.ChangePwdActivity"/>
        <activity android:name=".system.ui.SettingActivity"/>
        <activity android:name=".main.ui.UserDetailActivity"/>
        <activity android:name=".main.ui.MyTaskActivity"/>
        <activity android:name=".system.ui.VideoSettingActivity"/>
        <activity android:name=".system.ui.FeedBackActivity"/>
        <activity android:name=".system.ui.DevelopActivity"/>
    </application>

</manifest>