<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zx.module_map">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/MainAppTheme"
        android:usesCleartextTraffic="true"
        android:name="com.zx.module_library.app.MyApplication">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.zx.module_map.api.ApiConfigModule"
            android:value="ConfigModule"/>

        <activity android:name="com.zx.module_map.module.ui.MainActivity"/>
    </application>

</manifest>