<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zx.module_legalcase">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/MainAppTheme">
        <meta-data
            android:name="com.zx.module_legalcase.api.ApiConfigModule"
            android:value="ConfigModule"/>

        <activity android:name=".module.query.ui.QueryActivity"/>
        <activity android:name=".module.handle.ui.HandleActivity"/>
    </application>

</manifest>